#list {
    margin-left: 20px;
}

#plant {
    margin-left: 20px;
}

#cat_search_form {
    margin-top: 20px;
}

#text {
    margin-left: 15px;
}

.bg {
    background-color: lightblue;
}

body {
    background-color: #f5f5f5;
}
.login {
    margin-top: 80px;
    padding: 25px;
    border-radius: 6px;
    background: white;
}
.btn-full {
    width: 100%;
}