#list {
    margin-left: 20px;
}

#plant {
    margin-left: 20px;
}

#plant_image {
    display: block;
    margin: 15px auto;
    max-width: 150px;
}

#cat_search_form {
    margin-top: 20px;
}

#text {
    margin-left: 15px;
}

.bg {
    background-color: lightblue;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 6px;
    background: white;
    flex: 1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.task-col, .garden-col {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f5f5f5;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}