{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <h1>
                To-Do List
            </h1>
            <ul class="list-group">
                {%for i in task%}
                    <li class="list-group-item">
                        {{i}}
                        <button type="button">
                            Complete
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8">
            <h1>
                Garden
            </h1>
        </div>
    </div>
{% endblock %}