{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <h1>
                To-Do List
            </h1>

                <form action="{{ url_for('add_task') }}" method="post" class="add-entry">
                    <label for="name">Task Name:</label>
                        <input type="text" size="30" id="name" name="task_name" class="form-control">
                    <label for="date">Start date:</label>
                        <input class="form-control" type="date" id="date" name="task_date" value="2025-11-15" min="2025-11-15" max="2999-12-31">
                    <label for="category">Category:</label>
                        <input type="text" size="30" id="category" name="task_category" class="form-control">
                    <input hidden name="task_status" value=false>
                    <input hidden name="user_id" value="{{ user_id }}">
                    <input type="submit" value="Add" class="btn btn-primary">
                </form>


          <form action="{{ url_for('index') }}" method="post" class="filter-entries">
           <label for="category_dropdown">Category search:</label>
                <select name="category" id="category_dropdown" class="form-select">
                    <option name="category" value="">All Categories</option>
                    {% for cat in categories %}
                        {% if cat.category %}
                            <option name="category" value="{{ cat.category }}">{{ cat.category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
               <input type="submit" value="Search" class="btn btn-success">
          </form>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            Task name
                        </div>
                        <div class="col-sm-6">
                            Task category
                        </div>
                    </div>
                </li>
                {%for i in task%}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ i.task_name }}
                            </div>
                            <div class="col-sm-2">
                                {{ i.task_category }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <form action="{{ url_for('complete_task') }}" method="post" class="delete-entry">
                                    <input hidden name="taskid" value="{{ i.taskid }}">
                                    <input type="submit" value="Complete" class="btn btn-success">
                                </form>
                            </div>
                            <div class="col-sm-3">
                                <form action="{{ url_for('delete_task') }}" method="post" class="delete-entry">
                                    <input hidden name="taskid" value="{{ i.taskid }}">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8">
            <h1>
                Garden
            </h1>
            <script>
                    window.onload = function() {
                        let img = document.getElementById("plant_image");

                        let plant_display = {{ plant }};
                        if (plant_display === 2) {
                            img.src = "{{url_for('static', filename='plant2.png')}}";
                        } else if (plant_display === 3) {
                            img.src = "{{url_for('static', filename='plant3.png')}}";
                        }
                    };
            </script>
            <img src="{{url_for('static', filename='plant1.png')}}" id="plant_image">
            <form action = "{{ url_for("water_plant") }}" method="post">
                <input hidden name="user_id" value="{{ user_id }}">
                <input type="Submit" value="Water" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}