<!doctype html>
<html lang="en">
    <head>
        <title>Task Garden</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-md fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Task Garden
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Completed
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>