<!doctype html>
<html lang="en">
    <head>
        <title>Task Garden</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/x-icon" href="/static/plant_icon.png">
    </head>

    <body>
        <nav class="navbar navbar-expand-md fixed-top navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        Task Garden
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('view_completed_tasks') }}">
                            Completed tasks
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('completed_plants') }}">
                            Garden
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('timer') }}">
                            Study Timer
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('logout_user') }}" class="text-danger">
                            Logout
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>