{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <h1>
            Welcome to Task Garden
        </h1>

        <form action="{{ url_for('login_user') }}" method="post">
            <label>
                Email
            </label>
            </br>
            <input type="email" name="email" placeholder="email" autofocus>
            </br></br>

            <label>
                Password
            </label>
            </br>
            <input type="password" name="password" placeholder="Password">
            </br></br>

            <input type="submit" value="Log In">
        </form>

        <h3>
            Create Account
        </h3>
        <a href="/create_user_page">
            <button>
                Create Account
            </button>
        </a>
    </div>
{% endblock %}