<!doctype html>
<html lang="en">
    <head>
        <title>Task Garden</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="login-panel">
                    <h1 class="text-center">
                        Welcome to Task Garden
                    </h1>
                    <p class="text-center text-muted">Grow your productivity</p>
                    <h3 class="text-center">
                        Create Account
                    </h3>
                    <form action="{{ url_for('create_user') }}" method="post">
                        <div class="form-group">
                            <label for="email">
                                Email
                            </label>
                            <br>
                            <input type="email" name="email" placeholder="Email" class="form-control" autofocus required>
                        </div>

                        <div class="form-group">
                            <label>
                                Password
                            </label>
                            <br>
                            <input type="password" name="password" placeholder="Password" class="form-control" minlength="8" oninvalid="this.setCustomValidity('Password must be at least 8 characters long')" oninput="this.setCustomValidity('')" required>
                        </div>

                        <input type="submit" class="btn btn-primary btn-full" value="Create Account">
                    </form>

                <p class="text-center">Have an account?</p>
                <a href="/login_user_page" class="btn btn-success btn-full create-btn">
                    <button>
                        Login
                    </button>
                </a>
                </div>
            </div>
        </div>
    </body>
</html>