<!doctype html>
<html lang="en">
    <head>
        <title>Task Garden</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1>
                Create Account
            </h1>

            <form action="{{ url_for('create_user') }}" method="post" class="form-group">
                <label for="email">
                    Email
                </label>
                </br>
                <input type="email" name="email" placeholder="Email" autofocus required>
                </br></br>

                <label>
                    Password
                </label>
                <br>
                <input type="password" name="password" placeholder="Password" minlength="8" oninvalid="this.setCustomValidity('Password must be at least 8 characters long')" oninput="this.setCustomValidity('')" required>
                <br><br>

                <input type="submit" value="Create Account">
            </form>

        <h3>
            Have an account?
        </h3>
        <a href="/login_user_page">
            <button>
                Login
            </button>
        </a>
    </div>
    </body>
</html>